@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.upper-section{
    display: flex;
    overflow-x: scroll;
}

.upper-section::-webkit-scrollbar{
    display: none;
}

.left-section{
    min-width: 100%;
    height: 100vh;
}

.left-upper-section{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.upper-left{
    flex: 1.5;
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 20px;
    font-weight: 600;
}

.upper-right{
    flex: 1;
}

.left-lower-section{
    min-width: 100%;
    min-height: 90vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.left-lower-section::-webkit-scrollbar{
    display: none;
}

/*---------Cards---------*/

/* Main-card */

.main-card{
    margin-top: 10px;
    width: 85%;
    min-height: 200px;
    border-radius: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.main-card-upper{
    flex: 1.2;
    width: 100%;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card-upper-upper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: rgb(101,255,108);;
}


.main-card-upper-lower{
    flex: 2.5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}



.main-upper-lower-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-heading{
    font-size: 13px;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}


.main-upper-lower-left-content{
    width: 130px;
    min-height: 50px;
    background: linear-gradient(79deg, rgba(101,255,108,1) 0%, rgb(155, 255, 112) 100%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1); 
}


.main-upper-lower-right-content{
    width: 50px;
    height: 50px;
    background: linear-gradient(79deg, rgba(101,255,108,1) 0%, rgb(155, 255, 112) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}


.main-card-lower{
    flex: 0.5;
    min-width: 100%;
    background: linear-gradient(79deg, rgba(101,255,108,1) 0%, rgba(184,255,153,1) 100%);
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}


.main-card-lower-mini{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    border-radius: 0px 0px 30px 30px;
}

.main-card-lower-mini::-webkit-scrollbar{
    display: none;
}


#mini-cards{
    min-width: 100px;
    height: 50px;
    border-radius: 40px;
    background: black;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.card-heading{
    color: rgb(212, 212, 212);
    font-size: 12px;
    font-weight: 500;
}

.card-value{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* Main-card */

/* Investment-card */

.investment-card{
    margin-top: 10px;
    width: 85%;
    min-height: 200px;
    border-radius: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.investment-card-upper{
    flex: 1.2;
    width: 100%;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investment-card-upper-upper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255,162,40);
}


.investment-card-upper-lower{
    flex: 2.5;
    display: flex;
    width: 100%;
    align-items: center;
}

.investment-card-upper-lower-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investment-card-upper-lower-content{
    width: 150px;
    min-height: 50px;
    background: linear-gradient(79deg, rgba(255,162,40,1) 0%, rgb(255, 171, 74) 100%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


.investment-upper-lower-right{
    width: 100px;
    min-height: 50px;
    background-color: rgb(110, 110, 110);
    border-radius: 40px;
}


.investment-card-lower{
    flex: 0.5;
    min-width: 100%;
    background: rgb(255,162,40);
    background: linear-gradient(79deg, rgba(255,162,40,1) 0%, rgba(255,208,153,1) 100%);
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}


.investment-card-lower-mini{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    border-radius: 0px 0px 30px 30px;
}

.investment-card-lower-mini::-webkit-scrollbar{
    display: none;
}


#mini-cards{
    min-width: 100px;
    height: 50px;
    border-radius: 40px;
    background: black;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.card-heading{
    color: rgb(212, 212, 212);
    font-size: 12px;
    font-weight: 500;
}

.card-value{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* Investment-card */

/* Lend-card */

.lend-card{
    margin-top: 10px;
    width: 85%;
    min-height: 200px;
    border-radius: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.lend-card-upper{
    flex: 1.2;
    width: 100%;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lend-card-upper-upper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: rgba(160,215,251,1);
}


.lend-card-upper-lower{
    flex: 2.5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.lend-card-upper-lower-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lend-card-upper-lower-center-content{
    width: 150px;
    min-height: 50px;
    background: linear-gradient(79deg, rgba(40,228,255,1) 0%, rgba(160,215,251,1) 100%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


.lend-upper-lower-right{
    width: 100px;
    min-height: 50px;
    background-color: rgb(110, 110, 110);
    border-radius: 40px;
}


.lend-card-lower{
    flex: 0.5;
    min-width: 100%;;
    background: linear-gradient(79deg, rgba(40,228,255,1) 0%, rgba(160,215,251,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.click-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    padding: 5px;
}

.click-word{
    flex: 5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-sign{
    flex: 1.5;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
}


/* Lend-card */

/* Lend-card */

.of-card{
    margin-top: 10px;
    width: 85%;
    min-height: 200px;
    border-radius: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.of-card-upper{
    flex: 1.2;
    width: 100%;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.of-card-upper-upper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: #ff8279;
}


.of-card-upper-lower{
    flex: 2.5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.of-card-upper-lower-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.of-card-upper-lower-center-content{
    width: 150px;
    min-height: 50px;
    background-color: #ff4336;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
}


.of-upper-lower-right{
    width: 100px;
    min-height: 50px;
    background-color: rgb(110, 110, 110);
    border-radius: 40px;
}


.of-card-lower{
    flex: 0.5;
    min-width: 100%;
    background: linear-gradient(28deg, rgba(255,0,0,1) 0%, rgba(255,122,122,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

/* Lend-card */

.credit-card{
    width: 85%;
    min-height: 200px;
    background-color: pink;
    border-radius: 40px;
    margin-bottom: 30px;
}

.loan-card{
    width: 85%;
    min-height: 200px;
    background-color: pink;
    border-radius: 40px;
    margin-bottom: 30px;
}

.otherfund-card{
    width: 85%;
    min-height: 200px;
    background-color: pink;
    border-radius: 40px;
    margin-bottom: 30px;
}

/*---------Cards---------*/

/*---------Right-section---------*/
.right-section{
    min-width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.right-section::-webkit-scrollbar{
    display: none;
}

.right-section-upper{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.right-section-lower{
    width: 100%;
    min-height: 90vh;
    max-height: 90vh;
}

.card-section{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.personal-details{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(28deg, rgba(86,40,255,1) 0%, rgba(229,160,251,1) 100%);
    font-size: 20px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.card-details{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(28deg, rgba(40,145,255,1) 0%, rgba(202,251,160,1) 100%);
    color:  white;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.shortcut-section{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcut-container{
    width: 90%;
    height: 35vh;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.shortcut-heading{
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.shortcut-container-upper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.shortcut-container-lower{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


.shortcut-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortcut-icon{
    width: 60px;
    height: 60px;
    background: rgb(153,162,255);
    background: linear-gradient(28deg, rgba(153,162,255,1) 0%, rgba(196,221,255,1) 100%);   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);

}

.shortcut-description{
    color: white;
    font-weight: 400;
    font-size: 13px;
    margin-top: 5px;
}



/*---------Right-section---------*/

/*---------Lower-page---------*/
.lower-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.bigger-personal-details{
    position: absolute;
    top: 102vh;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(28deg, rgba(86,40,255,1) 0%, rgba(229,160,251,1) 100%);
    font-size: 20px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.bigger-card-details{
    position: absolute;
    top: 102vh;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(28deg, rgba(40,145,255,1) 0%, rgba(202,251,160,1) 100%);
    color:  white;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

/*----Universal Format in this Page----*/

#input {
    width: 70vw;
    height: 60px;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 50px;
    border: none;
    text-align: center;
    padding: 0px 20px 0px 20px;
    color: white;
    font-size: 18px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 5);
}

.container-description {
    font-size: 20px;
    font-weight: 600;
}

.container-close {
    position: absolute;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: rgb(71, 71, 71);
}

.below-containers-upper {
    width: 100%;
    height: 7vh;
    /*fixed width*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.below-containers-middle {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.below-containers-lower {
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----Universal Format in this Page----*/

/*----Personal Detail----*/

.personal-password-form{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-detail-form {
    position: absolute;
    top: 102vh;
    width: 100%;
    height: 45vh;
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    z-index: 3;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-submit-button {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #70ff2e;
    box-shadow: 0px 0px 10px 0px #70ff2e;
    font-weight: 600;
}

/*----Personal Detail----*/

/*----Card Detail----*/

.card-password-form{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-detail-form {
    position: absolute;
    top: 102vh;
    width: 100%;
    height: 45vh;
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    z-index: 3;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-submit-button {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #70ff2e;
    box-shadow: 0px 0px 10px 0px #70ff2e;
    font-weight: 600;
}

/*----Card Detail----*/

/*----Trends----*/

.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    
}

.second-upper{
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

.second-upper-title{
    font-size: 22px;
    font-weight: 600;
}

.second-upper-action{
    position: absolute;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}


.second-content{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content-arrangement{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    transform: scale(0.80);
    opacity: 0;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 1); 
}

.links1{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    transform: scale(0.80);
    opacity: 0;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 1); 
}

/*----Trends----*/


/*---------Lower-page---------*/